<p id="notice"><%= notice %></p>

<h1>Schools</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Call number</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schools.each do |school| %>
      <tr class="<%= cycle('list_line_odd', 'list_line_even')%>">
        <td><%= school.Name %></td>
        <td><%= school.Address %></td>
        <td><%= school.Call_number %></td>
        
		<td class="list_actions">
			<%= link_to 'Show', school %><br/>
        	<%= link_to 'Edit', edit_school_path(school) %><br/>
        	<%= link_to 'Destroy', school, 
						 method: :delete, 
						 data: { confirm: 'Are you sure?' } %>
		</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New School', new_school_path %>
